#TB_ajaxContent {
    height: 100% !important;
}

.lps_shortcode_popup_container_table tr td {
    vertical-align: top;
}

.lps_shortcode_popup_container_table input[type="text"], .lps_shortcode_popup_container_table select {
    min-width: 98% !important;
    width: 98% !important;
}

.lps_shortcode_popup_container_table input[type="text"].small {
    max-width: 50px;
    min-width: 50px !important;
    width: 50px !important;
}

#lps_shortcode_button_open span {
    color: #000;
    vertical-align: middle;
    margin-top: -3px;
}

#lps_display_limit, #lps_url_options, #lps_display_limit input, #lps_url_options input, #lps_preview_embed_shortcode, #lps_pagination_options, #lps_pagination_options input, #lps_pagination_options select {
    background-color: #FFFFCC;
}

#lps_pagination_options td {
    vertical-align: middle !important;
}

#lps_preview_embed_shortcode {
    padding: 10px;
}

.lps_shortcode_popup_container_table label {
    display: block;
    float: left;
    max-width: 72px;
    max-height: 72px;
    position: relative;
    text-align: center;
}

.lps_shortcode_popup_container_table label img {
    max-width: 72px;
}

.lps_shortcode_popup_container_table label.with-link {
    display: none;
}

.lps_shortcode_popup_container_table label.without-link input[type="radio"],
.lps_shortcode_popup_container_table label.with-link input[type="radio"] {
    bottom: 5px;
    left: 5px;
    position: absolute;
}