.latest-post-selection {
    clear: both;
}

.latest-post-selection, .latest-post-selection * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.latest-post-selection article {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #FFF;
    box-sizing: border-box;
    /*border: 1px solid #EEE;*/
    margin-bottom: 1%;
    padding: 1%;
    width: 100%;
}

.latest-post-selection.two-columns article {
    float: left;
    height: 400px;
    margin-right: 1%;
    margin-bottom: 1%;
    max-height: 180px;
    overflow: hidden;
    width: 49.5%;
}

.latest-post-selection.two-columns article:nth-child(2n) {
    clear: right;
    /*background-color: #EEE;
    border: 1px solid #DDD;*/
    margin-right: 0px;
}

.latest-post-selection.three-columns article {
    float: left;
    height: 200px;
    max-height: 200px;
    margin-right: 1.1%;
    overflow: hidden;
    width: 32.6%;
}

.latest-post-selection.three-columns article:nth-child(3n+2) {
    background-color: #EEE;
    border: 1px solid #DDD;
}

.latest-post-selection.three-columns article:nth-child(3n) {
    clear: right;
    background-color: #DDD;
    border: 1px solid #CCC;
    margin-right: 0px;
}

.latest-post-selection article img {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin: 0.5%;
    margin-right: 1%;
    max-width: 99%;
}

.latest-post-selection article h1 {
    font-size: 22px;
    line-height: 1em;
    margin: 0px;
    margin-bottom: 5px;
    color:#00AED7;
}

.latest-post-selection article .read-more {
    float: right;
}

.latest-post-selection article .read-more-wrap {
    text-decoration: none;
}

.latest-post-selection.pages {
    clear: both;
    display: table-row;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 100%;
}

.latest-post-selection.pages li {
    display: inline-block;
    float: left;
    list-style-type: none;
    position: relative;
    vertical-align: middle;
}

.latest-post-selection.pages li:first-child {
    margin: 1px;
    padding: 5px;
    padding-left: 0px;
}

.latest-post-selection.pages li a {
    display: block;
    line-height: 24px;
    margin: 1px;
    min-width: 24px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}

.latest-post-selection.pages li.current a {
    font-weight: bold;
}
